.profileBlock {
    width: 100%;
    /*height: 400px;*/
    margin: 0 auto;
    /*border: 2px solid darkcyan;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.image {
    width: 500px;

}

.imageItem {
    width: 600px;
}