.header {
    background-color: #1c3faa;
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.loginBlock {
    margin-right: 50px;
    /*float: right;*/
    color: black;
    font-weight: bold;
}