.app-wrapper {
    margin: 0px auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 70px auto;
    grid-gap: 20px;
    grid-template-areas:
    "header header"
    "nav content";
}

.app-wrapper-content {
    background-color: coral;
    grid-area: content;
}